.form-container,
.add-player-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-container {
  align-items: center;
  width: 100%;
}

.add-player-form {
  width: 20rem;
}

label {
  display: flex;
  justify-content: space-between;
}

.submission-message {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(0, 141, 0);
}
