.player-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-bar {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-box {
  cursor: text;
  font-size: 1.5rem;
  width: 20rem;
}

.empty-search-message {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty-search-message > p {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}
